main {
  display: grid;
  grid-template-areas:
    "ab ab ab ab"
    "sh sh sh sh"
    "da da da da";
  width: 70vw;
  min-height: 52rem;
  margin: 0 auto;
  place-items: center center;
}

/* Section styles */

.main-about {
  grid-area: ab;
  min-height: 12rem;
  width: 100%;
}

.main-open {
  grid-area: sh;
  min-height: 12rem;
  width: 100%;
}

.main-open__schedule-list-item {
  list-style: none;

}

.main-daily {
  grid-area: da;
  min-height: 24rem;
  width: 100%;
  overflow: hidden;
}

.main-about h2,
.main-daily h2,
.main-open h2 {
  display: inline-block;
  margin: var(--header-margin-def);
  border-bottom: 1px solid var(--primary-text-color);
}

.main-about p,
.main-daily p,
.main-open p {
  margin-left: .5rem;
}

.main-daily img {
  max-height: 13rem;
  margin-top: 1rem;
  box-shadow: 3px 5px 5px rgba(0,0,0,.3);
}