main {
  display: grid;
  grid-template-areas:
    "ab ab ab ab"
    "sh sh sh sh"
    "da da da da";
  width: 80vw;
  min-height: 47rem;
  margin: 0 auto;
  place-items: center center;
}

.main-about {
  grid-area: ab;
  height: 12vh;
  min-height: 10rem;
  width: 100%;
}

.main-open {
  grid-area: sh;
  height: 14vh;
  min-height: 12rem;
  width: 100%;
}

.main-open__schedule-list-item {
  list-style: none;

}

.main-daily {
  grid-area: da;
  height: 40vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.main-about h2,
.main-daily h2,
.main-open h2 {
  margin: var(--header-margin-def);
  border-bottom: 1px solid var(--primary-text-color);
}

.main-about p,
.main-daily p,
.main-open p {
  margin-left: .5rem;
}

.main-daily img {
  max-height: 15rem;
  margin-top: 1rem;
}